<app-header></app-header>
<div class="jumbotron">
<form (submit)="addTicket()">
<div class="input-group mb-3" >
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1">Заявитель</span>
    </div>
    <input type="text" [(ngModel)]="name" name="name" class="form-control" placeholder="Имя заявителя" aria-label="Username" aria-describedby="basic-addon1">
  </div>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1">Телефон</span>
    </div>
    <input type="text"  [(ngModel)]="tel" name="tel" class="form-control" placeholder="Телефон" aria-label="Username" aria-describedby="basic-addon1">
  </div>
  
  <div class="input-group">
    <div class="input-group-prepend">
      <span class="input-group-text" >Обращение</span>
    </div>
    <textarea class="form-control" [(ngModel)]="mes" name="mes" placeholder="Что у вас случилос?"></textarea>
  </div>
  <br>

  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <label class="input-group-text" for="inputGroupSelect01">Исполнитель</label>
    </div>
    <select pl class="custom-select" [(ngModel)]="perf" name="perf" id="inputGroupSelect01">
      <option selected>Кто исполнит....</option>
      <option value="Шалгинов">Шалгинов</option>
      <option value="Идимешев">Идимешев</option>
      <option value="Кунучако">Кунучаков</option>
    </select>
  </div>
  <br>
  <button type="submit" class="btn btn-primary">Ok</button>
</form>
</div>