<app-header></app-header>
<ul class="nav nav-pills">
  <li class="nav-item">
    <a class="nav-link active" [routerLink]="['/ticket']">Создать заявку</a>
  </li>
</ul>
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" href="#">Заявки</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">База знаний</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Настройки</a>
  </li>
</ul>

<table class="table" >
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Дата</th>
      <th scope="col">Тема</th>      
      <th scope="col">Исполнитель</th>
      <th scope="col">Исполнено</th>
    </tr>
  </thead>
  <tbody *ngFor="let ticket of tickets">
    <tr>
      <a [routerLink]="['/edit']" routerLinkActive="router-link-active" (click)="setNum(ticket.num)"><th scope="row">{{ ticket.num }}</th></a>
      <td>{{ ticket.date }}</td>
      <td>{{ ticket.title }}</td>      
      <td>{{ ticket.perf }}</td>
      <td>{{ ticket.completed ? "Да" : "Нет" }}</td>     
    </tr>
  </tbody>
</table>
